{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <h1>Edit Genre</h1>
    {{dump(genre)}}

    {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
